<h2><%= @product.title %></h2>

<h3>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</h3>

<div>
  <%= simple_format @product.description %>
</div>


<%- if @product.picture %>
  <div>
    <%= image_tag @product.picture %>
  </div>
<% end %>

<div class="show-info">
  <p>
  Created at <%= @product.created_at %><br/>
  Updated at <%= @product.updated_at %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %>
  <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'float-right' %>
</div>
